
*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
   }

    :root {
      --primary-color: #a4ab9a;
      --secondary-color: #000000;
  }

   ::selection {
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
  }

  
  html
  {
      font-size:100%;
  
  }

  
  nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 19px;
    display: inline-block;
    font-weight: 600;
  }
  
  nav ul li a span {
    font-size: 18px;
    font-weight: 900;
  }
  
  nav ul li a::after {
    content: "";
    width: 0%;
    height: 3px;
    background: var(--primary-color);
    position: absolute;
    left: 0px;
    bottom: -6px;
    transition: width 0.5s;
  }
  
  nav ul li a:hover::after {
    width: 100%;
  }
  
  .header-text {
    margin-top: 280px;
  }
  
  .header-text p {
    font-size: 60px;
    font-weight: 500;
  }
  
  .header-text h1 {
    font-size: 40px;
    font-weight: 500;
  }
  
  .color {
    color: var(--primary-color);
  }
  
  body
  {   
      -webkit-font-smoothing:antialiased;
      font-family:"Poppins", serif;
      font-size:18px;
      font-weight:400;
      line-height:1.4;
      text-rendering:optimizeLegibility;
      background-color:#020202;
 
  
  }

  span.bgcolor,
  .bgcolor {
    display: inline-block;
    padding: 0 5prgb(123, 0, 255);
    border-radius: 2px;
    color: rgb(0, 0, 0);
  }

  .skill-set li:hover
  {
    background-color:#ffffff;
      color: rgb(0, 0, 0);
    }
  
  h1
  {
      color:rgba(255, 255, 255, 0.962);
  }
  
  .wrapper
  {
      height:100%;
  }
  
  .left
  {
    background-color:#a4ab9a;
      border-right:1px solid rgba(255, 255, 255, 0.05);
      float:right;
      height:100%;
      margin-left:-1px;
      min-width:256px;
      position:fixed;
      width:33.33%;
    
  }
  
  .right
  {
      float:right;
      height:100%;
      position:relative;
      width:66.66%;
  }
  
  
  .name-hero
  {
    background-color:#a4ab9a;
    bottom:0;
      height:490px;
      left:0;
      margin:auto;
      position:absolute;
      right:0;
      top:0;
      width:85%;
  }
  
  .me-img
  {
      background:url(https://i.ibb.co/K6jMZxM/IMAGE-2024-03-09-08-24-26.jpg) no-repeat center center ;
      background-size:100%;
    background-position:0px;
      border-radius:100%;
      height:150px;
      margin:0 auto;
      position:relative;
      width:150px;
  }
  
  .name-hero h1
  {
      /* font-family:Open Sans, sans-serif; */
      font-size:2.5em;
      text-align:center;
  }
  
  .dot_style{
  
      color:var(--primary-color);
      font-size:2em;
  
  }
  
  .name-hero h1 em
  {
    color:rgb(255, 255, 255);
    font-style:normal;
      font-weight:700;
  }
  
  .name-hero p
  {
      color:rgb(255, 255, 255);
      font-size:.75em;
      line-height:1.5;
      margin:0 8px 0 0;
      text-align:center;
  }
  
  .name-hero .name-text
  {
      margin:0 auto;
      width:85%;
  }
  
  .inner
  {
      margin:0 auto;
      max-width:975px;
      padding:3em;
  }
  
  .inner h1
  {
      font-size:1.75em;
  }
  
  .inner p
  {
      color:rgba(255, 255, 255, 0.87);
  }
  
  .inner p em
  {
      color:rgb(254, 254, 254);
      font-style:normal;
  }
  
  .inner section
  {
      margin:100px auto;
  }
  
  ul
  {
      list-style-type:none;
      margin-top:-10px;
      max-width:570px;
      padding:0;
  }
  
  .skill-set li
  {
      background:var(--primary-color);
      border-radius:6px;
      color:#e8e8e8;
      display:inline-block;
      list-style:none;
      margin:15px 15px 0 0;
      padding:10px;
      text-align:justify;
  }
  
  @media screen and (max-width: 48em) {
      .right,.left
      {
          float:none;
      position:relative !important;
          width:100%;
      min-height:500px;
      }
    .handmade {
    text-align:center !important;
    margin-top:0px !important;
  }
  }
  
  @media screen and (max-width: 75em) {
      body
  { font-size:16px;}
  }
  
  @media screen and (max-width: 60em) {
      body
  { font-size:14px;}
  }
  .clearfix:after {
     content: " "; /* Older browser do not support empty content */
     visibility: hidden;
     display: block;
     height: 0;
     clear: both;
  }
  .handmade {
    text-align:right;
    margin-top:100px;
  }
  .handmade em {
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.25em;
    margin-left:5px;
  }
  /* epanded part */
  * {
      border: 0;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }
  :root {
      --hue: 223;
      --fg:var(--primary-color);
      --trans-timing: cubic-bezier(0.65,0,0.35,1);
      font-size: calc(16px + (24 - 16) * (100vw - 320px) / (2560 - 320));
  }
  
  a {
      color: var(--primary);
      transition: color var(--trans-dur);
  }
  button {
      color: var(--fg);
      font: 1em/1.5 "IBM Plex Sans", sans-serif;
  }
  
  .btn {
    
    display: block;
    border: 1px solid var(--primary-color);
    border-radius: 0.25em;
    padding: 0.375em 0.75em;
    color: black;
    font-weight: 600;
    background-color: transparent;
    cursor: pointer;
    /* transition: background 0.5s, color 0.5s; */

    transition:
    background-color calc(var(--trans-dur) / 2) linear,
    color var(--trans-dur);
-webkit-tap-highlight-color: transparent;
  }
  
  .btn:hover {
    background-color: var(--primary-color);
    color: black;
  }



  .btn {
      background-color: rgb(0, 0, 0);
      border-radius: 0.25em;
      color:rgb(255, 255, 255);
      cursor: pointer;
      padding: 0.375em 0.75em;
      transition:
          background-color calc(var(--trans-dur) / 2) linear,
          color var(--trans-dur);
      -webkit-tap-highlight-color: transparent;
  }
  .btn:hover {
      background:#a4ab9a;
      color: #000000;
  } 
  
  .btn-group {
      display: flex;
      gap: 0.375em;
      margin-bottom: 1.5em;
  }
  .timeline {
      /* margin: auto; */
      padding: 0 1.5em;
      width: 100%;
      max-width: 36em;
      color: rgb(255, 255, 255);
  
  }
  .timeline__arrow {
    color: var(--primary-color);
      background-color: transparent;
      border-radius: 0.25em;
      cursor: pointer;
      flex-shrink: 0;
      margin-inline-end: 0.25em;
      outline: transparent;
      width: 2em;
      height: 2em;
      transition:
          background-color calc(var(--trans-dur) / 2) linear,
          color var(--trans-dur);
      -webkit-appearance: none;
      appearance: none;
      -webkit-tap-highlight-color: transparent;
  }
  .timeline__arrow:focus-visible,
  .timeline__arrow:hover {
      background-color: hsl(var(--hue),10%,50%,0.4);
  }
  .timeline__arrow-icon {
      display: block;
      pointer-events: none;
      transform: rotate(-90deg);
      transition: transform var(--trans-dur) var(--trans-timing);
      width: 100%;
      height: auto;
  }
  .timeline__date {
      font-size: 0.833em;
      line-height: 2.4;
  }
  .timeline__dot {
      background-color: rgb(235, 235, 235);
      border-radius: 50%;
      display: inline-block;
      flex-shrink: 0;
      margin: 0.625em 0;
      margin-inline-end: 1em;
      position: relative;
      width: 0.75em;
      height: 0.75em;
  }
  .timeline__item {
      position: relative;
      padding-bottom: 2.25em;
  }
  .timeline__item:not(:last-child):before {
      background-color: currentColor;
      content: "";
      display: block;
      position: absolute;
      top: 1em;
      left: 2.625em;
      width: 0.125em;
      height: 100%;
      transform: translateX(-50%);
  }
  [dir="rtl"] .timeline__arrow-icon {
      transform: rotate(90deg);
  }
  [dir="rtl"] .timeline__item:not(:last-child):before {
      right: 2.625em;
      left: auto;
      transform: translateX(50%);
  }
  .timeline__item-header {
      display: flex;
  }
  .timeline__item-body {
      border-radius: 0.375em;
      overflow: hidden;
      margin-top: 0.5em;
      margin-inline-start: 4em;
      height: 0;
  }
  .timeline__item-body-content {
      background-color: hsl(var(--hue),10%,50%,0.2);
      opacity: 0;
      padding: 0.5em 0.75em;
      visibility: hidden;
      transition:
          opacity var(--trans-dur) var(--trans-timing),
          visibility var(--trans-dur) steps(1,end);
  }
  .timeline__meta {
      width: 100%;
  }
  .timeline__title {
      font-size: 1.5em;
      line-height: 1.333;
  }
  /* Expanded state */
  .timeline__item-body--expanded {
      height: auto;
  }
  .timeline__item-body--expanded .timeline__item-body-content {
      opacity: 1;
      visibility: visible;
      transition-delay: var(--trans-dur), 0s;
  }
  .timeline__arrow[aria-expanded="true"] .timeline__arrow-icon {
      transform: rotate(0);
  }
  
  /* Dark theme */
  @media (prefers-color-scheme: dark) {
      :root {
          --bg: hsl(var(--hue),10%,10%);
          --fg: hsl(var(--hue),10%,90%);
          --primary: hsl(var(--hue),90%,70%);
      }
  }


  
  /* fqa */
  .accordion {
      display: flex;
      flex-direction: column;
      max-width: 991px;
      min-width: 320px;
      margin: 50px auto;
      padding: 0 50px;
  }

  .accordion-item {
      margin-top: 16px;
      border: 1px solid #4f4f4f7c;
      border-radius: 6px;
      background: #ffffff;
      box-shadow: var(--primary-color);
  }
  .accordion-item .accordion-item-title {
      position: relative;
      margin: 0;
      display: flex;
      width: 100%;
      font-size: 19px;
      cursor: pointer;
      justify-content: space-between;
      flex-direction: row-reverse;
      padding: 14px 20px;
      box-sizing: border-box;
      align-items: center;
      font-weight: 1000;

  }
  .accordion-item .accordion-item-desc {
      display: none;
      font-size: 16px;
      line-height: 22px;
      font-weight: 300;
      color: #ffffff;
      border-top: 1px dashed #000000;
      padding: 10px 20px 20px;
      box-sizing: border-box;
  }
  .accordion-item input[type="checkbox"] {
      position: absolute;
      height: 0;
      width: 0;
      opacity: 0;
  }
  .accordion-item input[type="checkbox"]:checked ~ .accordion-item-desc {
      display: block;
  }
  .accordion-item
      input[type="checkbox"]:checked
      ~ .accordion-item-title
      .icon:after {
      content: "-";
      font-size: 20px;
  }
  .accordion-item input[type="checkbox"] ~ .accordion-item-title .icon:after {
      content: "+";
      font-size: 20px;
  }
  .accordion-item:first-child {
      margin-top: 0;
  }
  .accordion-item .icon {
      margin-left: 14px;
  }
  
  @media screen and (max-width: 767px) {
      .accordion {
          padding: 0 16px;
      }
      .accordion h1 {
          font-size: 22px;
      }
  }
  
  /* //////////////// */

  /* story */
  .story{
    font-family:"Poppins" sans-serif;
    font-size:  20px;


  }
  .step{
    font-smooth: auto;
    font-family: 'Whitney', sans-serif;
    font-weight:700;
    color:#ffffff;
    font-size:22px;
    opacity:0.8
  }
  .link {
    text-decoration:none;
    color:#ffffff;
    font-family: 'Whitney', sans-serif;
    font-size:13px;
    opacity:0.8;
    margin-right:auto;
    margin-left:auto;
    padding:10px 20px;
    border:2px solid #000000;
    border-radius:100px;
  }
  
  .link:hover{
    opacity:1;
    }
  .instructions{
    font-smooth: auto;
    font-family: 'Whitney', sans-serif;
    font-weight:650;
    color:rgba(255, 255, 255, 0.65);
    font-size:16px;
  }
  .highlight{
    background:rgba(255,255,255,0.1);
    display:inline-block;
    opacity:1;
    border-radius:2px;
    padding:0 5px;
    color:#ffffff
  }
  .highlight:hover{
    background:rgba(255,255,255,0.2);
  }
  .bottom-wrapper{
    width:100%;
    background:#7bb4ff;
    text-align:center;
    padding-top:30px;
    padding-bottom:30px;
  }
  .wsite{
    text-decoration:none;
    color:#ffffff;
    font-family: 'Whitney', sans-serif;
    font-size:18px;
    opacity:0.5;
    transition:all 100ms ease
  }
  .bottom-wrapper:hover .wsite{
    opacity:0.8
  }

  /* dsdadad
  


asdadddddddweeeeeeeeeeeasdas */



/* ------------------- CSS For Mobile Screens ------------------- */

@media screen and (max-width: 890px) {
  #header nav ul li a .color {
    color: #ffffff;
  }

   #header {
    /* background-image: url("https://i.ibb.co/jHTHTJx/alexander-shatov-PHH-0uw9-Qw-unsplash.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  } 

  nav ul {
    position: absolute;
    top: 0px;
    right: -500px;
    height: 100vh;
    width: 40%;
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    z-home: 4;
  }

  nav ul .fa-solid {
    position: absolute;
    top: 15px;
    right: 15px;
    transition: color 0.5s;
  }

  nav ul .fa-solid:hover {
    color: rgb(247, 247, 247);
  }
  nav .fa-solid,
  nav p {
    display: block;
    font-size: 35px;
    cursor: pointer;
  }

  nav ul li a {
    transition: color 0.5s;
    font-size: 23px;
    margin-top: 15px;
  }

  nav ul li a:hover {
    color: rgb(0, 0, 0);
  }

  .header-text {
    margin-top: 250px;
  }

  .header-text p {
    font-size: 27px;
  }

  .header-text h1 {
    font-size: 45px;
  }
}

/*Top button*/

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-home: 99; /* Make sure it does not overlap */
  outline: none; /* Remove outline */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 50px; /* Rounded corners */
  font-size: 18px; /* Increase font size */

    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
  --button-bg: hsl(0, 0%, 18%);
  --button-fg: hsl(0 0% 90%);
  --hover-bg: hsl(0 0% 90%);
  color:  hsl(0 0% 90%);
  font-family: sans-serif;
  border-radius: 100px;
  border: 2px solid hsl(0 0% 90%);
  background: hsl(0, 0%, 18%);

}

#myBtn:hover {
  background-color:#474747; /* Add a dark-grey background on hover */
  border: 2px solid hsl(68, 100%, 50%);


}

  /*Top button*/

  /*------------------- Btn ---------------- */
  
  .download {
    display: block;
    margin: 20px auto 0px auto;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
  --button-bg: hsl(0, 0%, 0%);
  --button-fg: hsl(0, 0%, 100%);
  --hover-bg: hsl(0, 0%, 100%);
  color:  hsl(0, 0%, 100%);
  font-family: sans-serif;
  padding: 1rem 3rem;
  border-radius: 100px;
  border: 2px solid hsl(0, 0%, 100%);
  background: hsl(0, 0%, 0%);
  cursor: pointer;
  touch-action: none;
  position: relative;
  overflow: hidden;
  }
  
  button:nth-of-type(2) {
    --button-bg: hsl(0, 0%, 0%);
    --hover-bg:  hsl(0, 0%, 100%);
    color: hsl(0, 0%, 18%);
  }
  
  button .back {
    position: absolute;
    inset: 0;
    pointer-events: none;
    overflow: hidden;
    border-radius: 100px;
  }
  
  .back > span {
    left: calc(var(--x, 0) * 1px);
    top: calc(var(--y, 0) * 1px);
    width: 50%;
    display: inline-block;
    aspect-ratio: 1;
    /* background: red; */
    transform: translate(-50%, -50%) scale(var(--active, 0));
    transition: transform 0.25s;
    background: var(--hover-bg);
    position: absolute;
    pointer-events: none;
    overflow: hidden;
    mix-blend-mode: difference;
    border-radius: 50%;
  }
  
  button:is(:hover, :focus-visible) {
    --active: 1.5;
  }
  
  button:active {
    --active: 3;
  }
  
  button:active .back > span {
    transition: transform 0.15s;
  }
  
  @supports (transition-timing-function: linear(0, 1)) {
    button:is(:hover, :focus-visible) .back > span {
      transition-duration: 0.5s;
      transition-timing-function: linear(
        0, 0.5007 7.21%, 0.7803 12.29%,
        0.8883 14.93%, 0.9724 17.63%,
        1.0343 20.44%, 1.0754 23.44%,
        1.0898 25.22%, 1.0984 27.11%,
        1.1014 29.15%, 1.0989 31.4%,
        1.0854 35.23%, 1.0196 48.86%,
        1.0043 54.06%, 0.9956 59.6%,
        0.9925 68.11%, 1
      );
    }
  }